* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Helvetica, sans-serif;
  scroll-behavior: smooth;
}

/* Adding all my Section tag fixed padding */
section {
  padding: 80px;
}

/* Creating Banner area in CSS */
.banner {
  position: relative;
  min-height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #111;
  background: url(images/profileBanner.png);
  background-size: cover;
  background-position: right center;
}
.banner h2 {
  font-size: 2.5em;
  color: #C2C2FF;
  font-weight: 300;
  line-height: 1.5em;
}
.banner h2 span {
  font-size: 1.2em;
  color: #efefef;
}
.banner h3 {
  color: #C2C2FF;
  font-size: 1.5em;
  font-weight: 500;
}
.btn {
  position: relative;
  background: #6666ff;
  display: inline-block;
  color: #fff;
  margin-top: 20px;
  padding: 10px 30px;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 500;
  font-size: 18px;
}
/* About Me layout */
.heading {
  width: 100%;
  text-align: center;
  margin-bottom: 30px;
  color: #111;
}
.heading p {
  font-style: italic;
  font-size: 14px;
}
.heading h2 {
  font-size: 3em;
  color: #6666ff;
}
.content {
  display: flex;
  justify-content: space-between;
}
.contentBx {
  padding-left: 40px;
  text-align: justify;
}
.profilePic {
  width: 300px;
  height: 300px;
  border-top-left-radius: 15%;
  border-top-right-radius: 15%;
  border-bottom-right-radius: 15%;
  border-bottom-left-radius: 15%;
}
.contentBx h2 {
  font-weight: 300;
  margin-bottom: 10px;
}
.heading.bottom {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}
.btn.round {
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}
.bt {
  margin-top: 20px;
}
.w50 {
  min-width: 25%;
}
img {
  max-width: 100%;
}
/* Navigation & Logo*/
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 40px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 2;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}
header .logo {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 2px;
}
header ul {
  position: relative;
  display: flex;
}
header ul li {
  list-style-type: none;
  position: relative;
}
header ul li a {
  position: relative;
  display: inline-block;
  margin: 0 15px;
  text-decoration: none;
  color: #fff;
}
/* For the sticky header */
header.sticky {
  background: #fff;
  padding: 20px 100px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
}
header.sticky .logo,
header.sticky ul li a {
  color: #111;
}
/* For Skills section */
.skills {
  background: #111;
}
.heading.white p {
  color: white;
}
.skills .content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
}
.skills .content .skillsBx {
  color: white;
  background: #161616;
  margin: 10px 15px;
  padding: 30px 15px;
  text-align: center;
  max-width: 360px;
}
.skills .content .skillsBx:hover {
  border-bottom: 2px solid #6666ff;
  cursor: pointer;
}

/* For Contact Me */
.contact {
  background: #111;
}
.formBx {
  min-width: 60%;
}
.formBx form {
  display: flex;
  flex-direction: column;
}
.formBx form h3,
.contactInfo h3 {
  color: white;
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 10px;
}
.formBx form input,
.formBx form textarea {
  margin-bottom: 20px;
  padding: 15px;
  font-size: 16px;
  background: transparent;
  border: none;
  outline: none;
  background: #161616;
  color: white;
  resize: vertical;
}
.formBx form input:focus,
.formBx form textarea:focus {
  border-bottom: 1px solid #6666ff;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}
.formBx form input:placeholder,
.formBx form textarea:placeholder {
  color: 999;
}

.formBx form .button{
  background: #6666ff;
  max-width: 250px;
  height: 50px;
  padding: 0;
  border: none;
  outline: none;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  cursor: pointer;
  overflow: hidden;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 2px;
}
.formBx form .button:hover{
  background: #6666ffa8;
}
.formBx form .button:active{
  background: #6666ff54;
}
.formBx form .button_text{
  display: inline-flex;
  align-items: center;
  padding: 0 25px;
  color: white;
  height: 100%;
}

.contactInfo {
  min-width: 40%;
}
.contactInfo p {
  color: #999;
}
.contactInfoBx {
  position: relative;
}
.contactInfoBx .box {
  position: relative;
  padding: 20px 0;
  display: flex;
}
.contactInfoBx .box .icon {
  color: white;
  min-width: 40px;
  padding-top: 4px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  font-size: 24px;
}
.contactInfoBx .box .text {
  color: #999;
  margin-left: 20px;
  font-size: 16px;
  flex-direction: column;
  font-weight: 300;
}
.contactInfoBx .box .text h3 {
  color: #6666ff;
  font-weight: 500;
  margin: 0;
}
.contactInfoBx .box .text p,
address {
  font-style: normal;
  font-weight: 300;
  color: #999;
}
.contactInfoBx .boxSocial {
  display: flex;
  flex-direction: row;
  padding-left: 60px;
  letter-spacing: 15px;
}
/* For Footer */
footer.copyright {
  background: black;
  color: white;
  text-align: center;
  padding: 10px;
}
/* For Responsive Design */
@media (max-width: 991px) {
  header,
  header.sticky {
    padding: 20px 50px;
    z-index: 2;
  }
  header .menu {
    display: none;
    z-index: 1;
  }
  header .menu {
    position: fixed;
    background: white;
    display: block;
    top: 75px;
    left: -100%;
    padding: 100px 50px;
    width: 100%;
    height: 100vh;
    text-align: center;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
  }
  header .menu.active {
    position: fixed;
    top: 75px;
    left: 0;
    padding: 100px 50px;
    display: block;
    text-align: center;
    width: 100%;
    height: 100vh;
    background: white;
  }
  header ul li a {
    font-size: 20px;
    color: #111;
    font-weight: 400;
    margin: 10px 0;
  }
  .toggle {
    width: 40px;
    height: 40px;
    background: url(images/menu.png);
    background-position: center;
    background-size: 30px;
    background-repeat: no-repeat;
    cursor: pointer;
  }
  .toggle.active {
    width: 40x;
    height: 40px;
    background-image: url(images/close.png);
    background-position: center;
    background-size: 25px;
    background-repeat: no-repeat;
    cursor: pointer;
  }
  header.sticky .toggle {
    filter: invert(1);
    -moz-filter: 0invert (1);
    -ms-filter: 0invert (1);
    -o-filter: 0invert (1);
    -webkit-filter: 0invert (1);
  }
  section {
    padding: 100px 30px;
  }
  .banner {
    padding: 150px 50px 100px;
  }
  .banner h2 {
    font-size: 1.5em;
  }
  .banner h3 {
    font-size: 1em;
  }
  .textBx {
    position: relative;
    top: 170px;
  }
  .btn {
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
  }
  .content {
    flex-direction: column;
  }
  .contentBx {
    padding: 0;
  }
  .content .w50 img {
    display: block;
    margin: 0 auto 30px auto;
  }
  .contentBx h2 {
    font-size: 20px;
    font-weight: 300;
  }
  .contentBx h3 {
    font-size: 20px;
  }
  .heading h2 {
    font-size: 24px;
  }
  .skills .content .skillsBx {
    margin: 10px;
  }
  .contactInfo {
    margin: 10px 0;
  }
}


@media (max-width: 768px) {
  .heading.bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
  }
}

@media (max-width: 600px) {
  .heading.bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
  }
}

/* For Icons */
ion-icon {
  font-size: 42px;
  color: #6666ff;
  cursor: pointer;
}
